<!DOCTYPE html>
<html>
  <head>
    <title>CustomGoogleMap</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        #map {
          height: 100%;
        }
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
      </style>
    </head>
    <body>
      <div id="map"></div>
      <script>
        function initMap() {
          var styledMapType = new google.maps.StyledMapType(
            [
            {elementType: 'labels', stylers: [{visibility: 'off'}]},
            {elementType: 'geometry.stroke', stylers: [{color: '#a80000'}]},
            {elementType: 'geometry.fill', stylers: [{color: '#77e3061f'}]},
            {featureType: 'landscape.natural',elementType: 'geometry',stylers: [{color: '#ff5649'}]},

            {featureType: 'poi',elementType: 'geometry.fill',stylers: [{color: '#ff5649'}]},
            {featureType: 'poi.park',elementType: 'geometry.fill', stylers: [{color: '#ff5649'}]},

            {featureType: 'road',elementType: 'geometry.fill', stylers: [{color: '#000000'}]},
            {featureType: 'road',elementType: 'geometry.stroke', stylers: [{color: '#ff5649'}]},

            {featureType: 'road.highway',elementType: 'geometry.fill',stylers: [{color: '#a80000'}]},
            {featureType: 'road.highway',elementType: 'geometry.stroke',stylers: [{color: '#ff5649'}]},
            {featureType: 'road.highway.controlled_access',elementType: 'geometry.fill',stylers: [{color: '#e3061f'}]},
            {featureType: 'road.highway.controlled_access',elementType: 'geometry.stroke',stylers: [{color: '#ff5649'}]},

            {featureType: 'transit.line',elementType: 'geometry',stylers: [{color: '#000000'}]},
            {featureType: 'water',elementType: 'geometry.fill', stylers: [{color: '#a80000'}]},
          ],
          {name: 'Event Map'});
          var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat:42.3725093, lng:-71.1148859},
            zoom: 15,
            mapTypeControlOptions: {
              mapTypeIds: ['roadmap', 
                      'styled_map']
            }
          });
          map.mapTypes.set('styled_map', styledMapType);
          map.setMapTypeId('styled_map');
        }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBf_UGCs_h6b3E_R8U_oNA2LYAUpcIyZeY&callback=initMap&language=en-US">
      </script>
    </body>
  </html>