<!DOCTYPE html>
<html>
  <head>
    <title>CustomGoogleMap</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
        #map {
          height: 100%;
        }
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
      </style>
    </head>
    <body>
      <div id="map"></div>
      <script>
        function initMap() {
          var styledMapType = new google.maps.StyledMapType(
            [
            {elementType: 'geometry', stylers: [{color: '#e91e63'}]},
            {elementType: 'labels.text.fill', stylers: [{visibility: 'off'}]},
            {elementType: 'labels.text.stroke',stylers: [{visibility: 'off'}]},
            {featureType: 'administrative', elementType: 'geometry.stroke',stylers: [{color: '#c9b2a6'}]}, 
            {featureType: 'administrative.land_parcel',elementType: 'geometry.stroke',stylers: [{color: '#A5DEE4'}]},
            {featureType: 'administrative.land_parcel',elementType: 'labels.text.fill',stylers: [{color: '#566C73'}]},
            {featureType: 'landscape.natural',elementType: 'geometry',stylers: [{color: '#5A7E8D'}]},
            {featureType: 'poi',elementType: 'geometry',stylers: [{color: '#779CAA'}]},
            {featureType: 'poi',elementType: 'labels',stylers: [{visibility: 'off'}]},
            {featureType: 'poi.park',elementType: 'geometry.fill', stylers: [{color: '#4F7885'}]},
            {featureType: 'poi.park',elementType: 'labels.text.fill',stylers: [{visibility: 'off'}]},
            {featureType: 'road',elementType: 'geometry', stylers: [{color: '#57727C'}]},
            {featureType: 'road.arterial',elementType: 'geometry',stylers: [{color: '#566C73'}]},
            {featureType: 'road.highway',elementType: 'geometry',stylers: [{color: '#566C73'}]},
            {featureType: 'road.highway',elementType: 'geometry.stroke',stylers: [{color: '#566C73'}]},
            {featureType: 'road.highway.controlled_access',elementType: 'geometry',stylers: [{color: '#e98d58'}]},
            {featureType: 'road.highway.controlled_access',elementType: 'geometry.stroke',stylers: [{color: '#db8555'}]},
            {featureType: 'road.local',elementType: 'labels.text.fill',stylers: [{color: '#566C73'}]},
            {featureType: 'transit.line',elementType: 'geometry',stylers: [{color: '#dfd2ae'}]},
            {featureType: 'transit.line',elementType: 'labels.text.fill',stylers: [{color: '#8f7d77'}]},  
            {featureType: 'transit.line',elementType: 'labels.text.stroke',stylers: [{color: '#A5DEE4'}]},
            {featureType: 'transit.station',elementType: 'geometry',stylers: [{color: '#dfd2ae'}]},
            {featureType: 'transit.station',elementType: 'labels.icon',"stylers":[{ "saturation": -100,"gamma": 1.0}]},
            {featureType: 'water',elementType: 'geometry.fill', stylers: [{color: '#566C73'}]},
            {featureType: 'water', elementType: 'labels.text.fill', stylers: [{color: '#566C73'}]} 
          ],
          {name: 'Event Map'});
          var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat:42.3725093, lng:-71.1148859},
            zoom: 15,
            mapTypeControlOptions: {
              mapTypeIds: ['roadmap', 
                      'styled_map']
            }
          });
          map.mapTypes.set('styled_map', styledMapType);
          map.setMapTypeId('styled_map');
        }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBf_UGCs_h6b3E_R8U_oNA2LYAUpcIyZeY&callback=initMap&language=en-US">
      </script>
    </body>
  </html>